.Autotrader {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    box-shadow: 1px 3px 2px #888888;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .Autotrader figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }
  
  .autotrader i {
    color: #333;
    font-size: 2rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    color: #333;
  }