.NavBar {
    background-color: rgb(49, 49, 156);
    border-bottom: 1px solid #0d0927;
  }

  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: rgb(148, 203, 236);
  }
  .Slogan {
    display: inline;
    font-size: 0.8rem;
    font-style: italic;
    color:#fff;
    padding: 0 2px 0 10px;
  }